$blue: #287ae6;
$gray-text: #b7b7b7;

body {
  font-size: 14px;
}

.heading {
  font-size: 35px;
  font-weight: bold;
  text-transform: capitalize;
}

.text-blue {
  color: $blue;
}

.error-text {
  font-size: 11px;
  color: #ec4232;
  text-align: left;
  margin-bottom: 0;
  width: 200px;
}
